@model KokiDB.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout/_WebPages.cshtml";
    ViewBag.PageName = Model.UserInfo.FullName ;
    ViewBag.formMode = "details";



}


<div class="card">
    <div class="card-header">
        <strong>@Model.UserInfo.FullName</strong>
    </div>
    <div class="card-body">
        @Html.EditorForModel()

    </div>
    <div class="card-footer">
        <a class="btn btn-dark btn-sm" href="@Url.Action("index","Customers")">
            <i class="fa fa-reply-all"></i> All Customers
        </a>

        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit","Products", new { id= Model.CustomerID })">
            <i class="fa fa-pencil"></i> Edit
        </a>

        <a class="btn btn-danger btn-sm" href="@Url.Action("index","ProductPhoto", new { id= Model.CustomerID })">
            <i class="fa fa-trash-o"></i> Delete
        </a>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <strong>Orders</strong>
    </div>
    <div class="card-body">
        @Html.Partial("~/Views/Shared/_OrdersList.cshtml", Model.Orders.ToList())

    </div>
</div>

